<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>906297552907-fe5c1km8hdsdknrpff1hl9m2ooekeda9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.906297552907-fe5c1km8hdsdknrpff1hl9m2ooekeda9</string>
	<key>API_KEY</key>
	<string>AIzaSyBoEz-7xI7U_hqUkwuqRJV3V0lLFkRxJdk</string>
	<key>GCM_SENDER_ID</key>
	<string>906297552907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportTest</string>
	<key>PROJECT_ID</key>
	<string>sportsapp-login</string>
	<key>STORAGE_BUCKET</key>
	<string>sportsapp-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:906297552907:ios:fb0a024b1cdbb3101c970e</string>
</dict>
</plist>